<!DOCTYPE html>

<html>
<head>

<title>Add Item</title>

<style>

    body {
        font-family: Arial, sans-serif;
        margin: 30px;
    }

    .attribute-row {
        margin-bottom: 10px;
    }

</style>

</head>

<body>

<h1>Add Item</h1>

{% if error %}

<p>
    {{ error }}
</p>

{% endif %}

<form method="post">

<p>
    <label>Item Name</label><br>

    <input
        type="text"
        name="name"
        maxlength="100"
        required
    >
</p>


<p>
    <label>Item Type</label><br>

    <select name="item_type" required>

        <option value="">
            -- Select Type --
        </option>

        {% for item_type in item_types %}

        <option value="{{ item_type['id'] }}">
            {{ item_type['name'] }}
        </option>

        {% endfor %}

    </select>
</p>


<p>
    <label>Minimum Level</label><br>

    <input
        type="number"
        name="minimum_level"
        min="0"
        step="1"
    >
</p>


<p>
    <label>Description</label><br>

    <textarea
        name="description"
        rows="4"
        cols="60"
        maxlength="2000"
    ></textarea>
</p>


<h2>Attributes</h2>

<div id="attributes"></div>


<p>
    <button
        type="button"
        onclick="addAttribute()"
    >
        Add Attribute
    </button>
</p>


<p>
    <button type="submit">
        Save Item
    </button>
</p>

</form>

<p>
    <a href="{{ url_for('inventory') }}">
        Cancel
    </a>
</p>

<script>

const attributeTypes = {

    {% for attribute in attributes %}

    "{{ attribute['id'] }}":
        "{{ attribute['value_type'] }}",

    {% endfor %}

};


function addAttribute() {

    const container =
        document.getElementById("attributes");

    const row =
        document.createElement("div");

    row.className = "attribute-row";


    const select =
        document.createElement("select");

    select.name = "attribute_id";

    select.required = true;


    const blank =
        document.createElement("option");

    blank.value = "";

    blank.textContent =
        "-- Select Attribute --";

    select.appendChild(blank);


    {% for attribute in attributes %}

    const option{{ attribute['id'] }} =
        document.createElement("option");

    option{{ attribute['id'] }}.value =
        "{{ attribute['id'] }}";

    option{{ attribute['id'] }}.textContent =
        "{{ attribute['name'] }}";

    select.appendChild(
        option{{ attribute['id'] }}
    );

    {% endfor %}


    const value =
        document.createElement("input");

    value.type = "number";

    value.name = "attribute_value";

    value.min = "1";

    value.step = "1";

    value.placeholder = "Value";

    value.style.display = "none";


    select.addEventListener(
        "change",
        function() {

            if (
                attributeTypes[select.value]
                === "number"
            ) {

                value.style.display =
                    "inline-block";

                value.required = true;

            } else {

                value.style.display =
                    "none";

                value.required = false;

                value.value = "";

            }

        }
    );


    const remove =
        document.createElement("button");

    remove.type = "button";

    remove.textContent = "Remove";

    remove.addEventListener(
        "click",
        function() {
            row.remove();
        }
    );


    row.appendChild(select);

    row.appendChild(value);

    row.appendChild(remove);

    container.appendChild(row);
}

</script>

</body>
</html>
